<div class="card">
    <div class="card-body">
      <!-- Floating Labels Form -->
      <form class="row g-3" [formGroup]="editPhongBan">
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingName" [readOnly]="false"
            name="username" formControlName="tenPhongBan"  [(ngModel)]="phongBan.tenPhongBan">
            <label for="floatingName">Tên Phòng Ban</label> <!-- -->
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingName" 
              name="hoTen" formControlName="maPhongBan" [(ngModel)]="phongBan.maPhongBan">
              <label for="floatingName">Mã Phòng Ban</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="text-center" style="padding-top: 10px;">
              <button type="submit" class="btn btn-primary" (click)="submit()">Xác Nhận</button>
              <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
                <div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </ngx-spinner>
            </div>
          </div>
      
      </form><!-- End floating Labels Form -->

    </div>
  </div>