<div class=" row" style="border-bottom: 2px solid blue; margin-bottom: 20px;">
  <div class="pagetitle col-lg-3 col-md-3">
    <h1>Vật Tư Cần Mua</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Vật tư</li>
        <li class="breadcrumb-item active">Vật tư cần mua</li>
      </ol>
    </nav>
  </div>
  <div class="col-lg-2 col-md-2">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TaoPhieu" (click)="SenData()">
      <i class="bi bi-calendar-plus"></i> | Tạo Phiếu </button>
  </div>
  <div class="col-lg-4 col-md-3">
  </div>
  <div class="col-lg-3 col-md-3">
    <div><!--class="{{searchClass}}"-->
      <input type="text" class="form-control " name="search" placeholder="Search" title="Enter search keyword"
        [(ngModel)]="search" (ngModelChange)="Search()">
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr style=" line-height: 36px;"style=" line-height: 36px;">
      <th scope="col">#</th>
      <th scope="col">Tên vật tư</th>
      <th scope="col">Số lượng đề nghị</th>
      <th scope="col">Đơn vị tính</th>
      <th scope="col">Ghi chú mua</th>
      <th scope="col">Chọn</th>

    </tr>
  </thead>

  <tbody>
    <tr style=" line-height: 32px;" *ngFor="let vatTu of dsVatTu | paginate:{
            itemsPerPage: 10,
            currentPage: pg,
            totalItems: counts
            };
                       let i = index ">
      <th scope="row">{{i+1}}</th>
      <td>{{vatTu.tenVatTu}}</td>
      <td >{{vatTu.soLuongCanMua}}</td>
      <td>{{vatTu.donViTinh}}</td>
      <td>{{vatTu.ghiChuCanMua}}</td>
      <td>
        <input id class="form-check-input me-1 checkboxVt" type="checkbox" value="{{vatTu.idChiTietPhieu}}"
          aria-label="..." (click)="CheckBox(vatTu)">
      </td>
  </tbody>
</table>
<div class="row">
  <pagination-controls class="pagination justify-content-center" style="padding-top: 14px;" previousLabel="Prev"
    nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>
<div class="modal fade" id="TaoPhieu" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tạo Phiếu Trình Mua</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="ngOnInit()"></button>
      </div>
      <div class="modal-body">
        <app-tao-phieu-mua [dsPhieu]="dsPhieu"> </app-tao-phieu-mua>
      </div>
    </div>
  </div>
</div>