<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Phiếu</li>
      <li class="breadcrumb-item active">Phiếu yêu cầu vật tư</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">

    <div class="col-xl-12">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button *ngIf="messageTB == 1" class="nav-link active" data-bs-toggle="tab"
                data-bs-target="#profile-overview" aria-selected="true" role="tab" (click)="setStatus(1)"
                (click)="ngOnInit()">Đang sử lý</button>

            </li>
            <li class="nav-item">
              <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-edit" (click)="setStatus(2)"
                (click)="ngOnInit()">Phiếu đã cấp</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings" (click)="setStatus(3)"
                (click)="ngOnInit()">Phiếu trả </button>
            </li>
          </ul>
          
          <div class="tab-content pt-2">
            <div class="col-lg-5">
              <form [formGroup]="filterForm">
                <div class="row">
                  <div class="col-2" style="float: left;">
                    <select class="form-select" name="size" formControlName="size" (change)="filterSelect()"
                      [(ngModel)]="tableSize">
                      <ng-container *ngFor="let size of tableSizes">
                        <option [selected]="size == tableSize" [value]="size">{{size}}</option>
                      </ng-container>
                    </select>
                  </div>
                  <div class="col-5" style="float: left; padding-right: 15px;">
                    <select class="form-select" name="sortOrder" formControlName="sortOrder" (change)="filterSelect()"
                      [(ngModel)]="sortOrder">
                      <option [value]="1"> Sắp xếp mới nhất</option>
                      <ng-container>
                        <option [value]="2">
                          Sắp xếp củ nhất
                        </option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade show active" id="profile-overview">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Thủ trưởng duyệt</th>
                            <th scope="col">Lãnh đạo duyệt</th>
                            <th scope="col">Lý do tạo phiếu</th>
                            <th scope="col">Thời gian tạo phiếu</th>
                            <th scope="col">Tình trạng phiếu</th>
                            <th scope="col">Tùy chọn</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dsphieu of dsPhieu
                                | paginate:{
                                  itemsPerPage: tableSize,
                                  currentPage: page,
                                  totalItems: counts
                                  }; let i = index ">
                            <th scope="row">{{i+1}}</th>
                            <td>{{dsphieu.hoVaTen}}</td>
                            <td>{{dsphieu.tenThuTruong}}</td>
                            <td>{{dsphieu.tenLanhDao}}</td>
                            <td>{{dsphieu.lyDoLapPhieu}}</td>
                            <td>{{dsphieu.timeTaoPhieu| date: 'dd/MM/yyyy HH:mm'}}</td>

                            <td>{{dsphieu.tinhTrangPhieu}}</td>
                            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ExtralargeModal"
                                (click)="chiTiet(dsphieu)">
                                <i class="bx bx-edit"></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="row" *ngIf="dsPhieu!=null">
                        <pagination-controls class="pagination justify-content-center" style="padding-top: 14px;"
                          previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="modal fade " id="ExtralargeModal" tabindex="-1">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Chi tiết phiếu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <app-chitiet [phieu]="phieu" [chiTiet]="chiTietPhieu">

                    </app-chitiet>

                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Tên phòng ban</th>
                            <th scope="col">Thủ trưởng duyệt</th>
                            <th scope="col">Lãnh đạo duyệt</th>
                            <th scope="col">Thời gian tạo phiếu</th>
                            <th scope="col">Time duyệt</th>
                            <th scope="col">Tình trạng phiếu</th>
                            <th scope="col">Tùy chọn</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dsphieu of dsPhieu
                                  | paginate:{
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: counts
                                    }; let i = index ">
                            <th scope="row">{{i+1}}</th>
                            <td>{{dsphieu.hoVaTen}}</td>
                            <td>{{dsphieu.tenPhongBan}}</td>
                            <td>{{dsphieu.tenThuTruong}}</td>
                            <td>{{dsphieu.tenLanhDao}}</td>
                            <td>{{dsphieu.timeTaoPhieu}}</td>
                            <td>{{dsphieu.timeDuyetPhieu}}</td>
                            <td>{{dsphieu.tinhTrangPhieu}}</td>
                            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ExtralargeModal"
                                (click)="chiTiet(dsphieu)">
                                <i class="bx bx-edit"></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="row" *ngIf="dsPhieu!=null">
                        <pagination-controls class="pagination justify-content-center" style="padding-top: 14px;"
                          previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="tab-pane fade profile-settings pt-3 show active" id="profile-settings">

              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Tên phòng ban</th>
                            <th scope="col">Thủ trưởng duyệt</th>
                            <th scope="col">Lãnh đạo duyệt</th>
                            <th scope="col">Lý do trả phiếu</th>
                            <th scope="col">Tình trạng phiếu</th>
                            <th scope="col">Tùy chọn</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dsphieu of dsPhieu
                                  | paginate:{
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: counts
                                    }; let i = index ">
                            <th scope="row">{{i+1}}</th>
                            <td>{{dsphieu.hoVaTen}}</td>
                            <td>{{dsphieu.tenPhongBan}}</td>
                            <td>{{dsphieu.tenThuTruong}}</td>
                            <td>{{dsphieu.tenLanhDao}}</td>
                            <td>{{dsphieu.lyDoTraPhieu}}</td>
                            <td>{{dsphieu.tinhTrangPhieu}}</td>
                            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ExtralargeModal"
                                (click)="chiTiet(dsphieu)">
                                <i class="bx bx-edit"></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="row" *ngIf="dsPhieu!=null">
                        <pagination-controls class="pagination justify-content-center" style="padding-top: 14px;"
                          previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form>  
                <div class="row mb-3">
                  <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="password" type="password" class="form-control" id="currentPassword">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="newpassword" type="password" class="form-control" id="newPassword">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
              </form><!-- End Change Password Form -->

            </div>

          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</section>