<div class="pagetitle">
  <div class="col-lg-12" style="padding: 10px 0 0px 0; border-bottom: 2px solid blue;">
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-6" style="max-width: 60%;float: left;">
            <h1>{{title}}</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Danh sach cho</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-12" style="max-width: 80%;">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TaoPhieu" (click)="SenData()">
            <i class="bi bi-calendar-plus"></i> | Tạo Phiếu Đề Nghị Vật Tư</button>
        </div>
      </div>
      <div class="col-lg-4">
        <div><!--class="{{searchClass}}"-->
          <input type="text" class="form-control " name="search" placeholder="Search" title="Enter search keyword"
            [(ngModel)]="search" (ngModelChange)="Search()">
        </div><!-- End Search Bar  (click)="searchFun()"-->

      </div>
    </div>
  </div>
</div><!-- End Page Title -->
<section class="section">
  <div class="row align-items-top" *ngIf="DsVatTu !=null">
    <div class="col-lg-3" style="float: left;"
      *ngFor="let vattu of DsVatTu| paginate:{itemsPerPage: tableSize,currentPage: page,totalItems: count};">
      <div class="card {{checked}}">
        <!-- [ngClass]="{'checkedvt':}"     -->
        <input id class="form-check-input me-1 checkboxVt" type="checkbox" value="{{vattu.idVatTu}}" aria-label="..."
          (click)="CheckBox(vattu)">
        <img *ngIf="vattu.hinhAnhVatTus.length >=1; else imgNull" [src]="vattu.hinhAnhVatTus[0].image"
          class="card-img-top" alt="...">
        <ng-template #imgNull>
          <img src="assets/img/image/vattu/vattu_default.jpg" class="card-img-top" alt="...">
        </ng-template>
        <div class="card-body">
          <h5 class="card-title">{{vattu.tenVatTu}}</h5>
          <p class="card-text">Đơn vị tính: {{vattu.donViTinh}}</p>
          <p class="card-text" *ngIf="vattu.thongSo != null; else thongSoNull">
            {{vattu.thongSo}}
          </p>
          <ng-template #thongSoNull>
            <p class="card-text">
              Thông số đang được cập nhật
            </p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="count>=tableSize"> <!-- Phân trang-->
    <div class="col-lg-12">
      <div class="card">
        <!-- <div class="card-body"> -->
        <pagination-controls class="pagination justify-content-center" style="padding-top: 14px;" previousLabel="Prev"
          nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="modal fade" id="TaoPhieu" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Tạo Phiếu Đề Nghị Vật Tư</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="ngOnInit()"></button>
        </div>
        <div class="modal-body">
          <app-add-phieu-dn [dsPhieu]="dsPhieu"></app-add-phieu-dn>
        </div>
      </div>
    </div>
  </div>
</section>