<div class="row" style="border-bottom: 2px solid blue; margin-bottom: 20px;">
    <div class="pagetitle col-lg-3 col-md-3">
        <h1>Phiếu Chờ Duyệt</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Phiếu</li>
                <li class="breadcrumb-item active">Danh Sách Phiếu Sửa</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-9 col-md-9">
        <form [formGroup]="filterForm">
            <div class="row">
                <div class="col-2" style="float: left;">
                    <select class="form-select" name="size" formControlName="size" (change)="filterSelect()"
                        [(ngModel)]="tableSize">
                        <ng-container *ngFor="let size of tableSizes">
                            <option [selected]="size == tableSize" [value]="size">{{size}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="col-2" style="float: left;">
                    <select class="form-select" name="status" formControlName="status" (change)="filterSelect()"
                        [(ngModel)]="status">
                        <option [value]="1"> Chờ duyệt</option>
                        <ng-container>
                            <option [value]="2">
                               Chờ sửa
                            </option>
                            <option [value]="3">
                                Đã hoàn thành
                             </option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<section class="section profile">
    <div class="row">

        <table class="table table-hover">
            <thead>
                <tr style="line-height: 36px;">
                    <th scope="col">#</th>
                    <th scope="col">Người Yêu Cầu</th>
                    <th scope="col">Lý do</th>
                    <th scope="col">Phòng ban nhận</th>
                    <th scope="col">Time Tạo</th>
                    <th scope="col">Tình trạng phiếu</th>
                    <th scope="col">Tùy chọn</th>
                </tr>
            </thead>
            <tbody>
                <tr style="line-height: 32px;" *ngFor="let dsphieu of DsPhieu
                                  | paginate:{
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: counts
                                    }; let i = index ">
                    <th scope="row">{{i+1}}</th>
                    <td>{{dsphieu.hoTen}}</td>
                    <td>{{dsphieu.lyDo}}</td>
                    <td>{{dsphieu.phongBanNhan}}</td>
                    <td>{{dsphieu.timeTao | date: 'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{dsphieu.tinhTrangPhieu}}</td>
                    <td><button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#ExtralargeModal"
                            (click)="chiTiet(dsphieu)">
                            <i class="bx bx-edit"></i></button></td>
                </tr>
            </tbody>
        </table>
        <div class="row" *ngIf="DsPhieu!=null">
            <pagination-controls class="pagination justify-content-center" style="padding-top: 14px;"
                previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>

        <div class="modal fade " id="ExtralargeModal" tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chi tiết phiếu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="ngOnInit()"></button>
                    </div>
                    <div class="modal-body">
    
                        <app-chi-tiet-phieu-sua [chiTiet]="chiTietPhieu" [phieu]="phieu"></app-chi-tiet-phieu-sua>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- End Bordered Tabs -->
</section>